@model RMS.Models.User
@{
    ViewBag.Title = "ApplicantView";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title> RMS Resume Management System - Job List Page </title>
</head>

<body>

    <!-- page-header -->
    <div class="job-pageheader">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="job-caption">
                        <h1 class="job-title">Applicant Details</h1>
                        <!-- <p><span class="job-location-icon"><i class="fa fa-map-marker"></i></span>Lahore, Pakistan</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- job-single-section -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8 col-md-offset-2  col-md-8 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb30">
                            <h2>Applicant Details</h2>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="job-data">
                                        <ul>
                                            <label for="Name"><span>First Name:</span><br>
                                            <label for="Name"><span>Last Name:</span><br>
                                            <label for="Name"><span>City:</span><br><label for="Name">
                                            <span>Institute Name:</span><br><label for="Name">
                                            <span>Department of Interest:</span><br><label for="Name">
                                            <span>Experience:</span><br><label for="Name">
                                            <span>Degree Name:</span><br><label for="Name">
                                            <span>Field Name:</span><br><label for="Name"><span>Designation:</span><br>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="job-data">
                                        <ul>
                                            <span style="text-align:left">Ali</span><br>
                                            <span style="text-align:left">Lahore</span>
                                            <br>
                                            <span style="text-align:left">FAST-NU</span>
                                            <br>
                                            <span style="text-align:left">Web Development</span>
                                            <br>
                                            <span style="text-align:left">4 years</span>
                                            <br>
                                            <span style="text-align:left">BS.CS</span>
                                            <br>
                                            <span style="text-align:left">Computer Science</span>
                                            <br>
                                            <span style="text-align:left">Software Engineer</span>
                                            <br>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12" style="text-align:right; ">
                            <a href="#" class="btn btn-primary mb20">Schedule Interview</a>
                        </div>
                    </div><hr>
                </div>
            </div>
        </div>
    </div>

    <!-- ./job-single-section -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- footer-contact links -->
                <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">Contact Info </h3>
                        <div class="contact-info">
                            <span class="contact-icon"><i class="fa fa-map-marker"></i></span>
                            <span class="contact-text">1847 Goldleaf Lane River <br> Edge, USA 07649 </span>
                        </div>
                        <div class="contact-info">
                            <span class="contact-icon"><i class="fa fa-phone"></i></span>
                            <span class="contact-text">+180-123-4567 / 89</span>
                        </div>
                        <div class="contact-info">
                            <span class="contact-icon"><i class="fa fa-envelope"></i></span>
                            <span class="contact-text">info@demo.com</span>
                        </div>
                        <div class="ft-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.footer-useful links -->
                <!-- footer-company-links -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">Company</h3>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <ul class="arrow">
                                    <li><a href="#">Home </a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Job List</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <ul class="arrow">
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Client reviews</a></li>
                                    <li><a href="#">Partner</a></li>
                                    <li><a href="#">Consultation</a></li>
                                    <li><a href="#">Help Center</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.footer-services-links -->
                <!-- footer-useful links -->
                <div class=" col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="ft-logo"><img src="./images/ft_logo.png" alt=""></div>
                </div>
                <!-- /.footer-useful links -->
            </div>
        </div>
        <!-- tiny-footer -->
        <div class="tiny-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p>
                            Copyright © All Rights Reserved 2020 Template Design by
                            <a href="https://easetemplate.com/" target="_blank" class="copyrightlink">EaseTemplate</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- /. tiny-footer -->
        </div>
    </div>
    <!-- /.footer -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/menumaker.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script type="text/javascript" src="js/sticky-header.js"></script>
    <script type="text/javascript">
        $("#dots").click(function () {
            $(".top-header").toggle("slow", function () {
                // Animation complete.
            });
        });
    </script>


</body>
</html>